body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

tr {
    width: 300px;
}

td {
    width: 100px;
    height: 100px;
    border: 5px solid black; 
    position: relative;
    cursor: pointer;
}
td:hover {
    background-color: rgba(167, 248, 46, 0.5);
}
  tr:first-child td {
    border-top: 0;
  }
   table tr td:first-child {
    border-left: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:last-child {
    border-right: 0;
  }
    table {
    border-collapse: collapse;
  }
  .shape {
      position: absolute;
      width: 70px;
      height: 70px;
      left: 15px;
      bottom: 15px;
  }
  .d-none {
      display: none;
  }
  .playerPanel {
    margin-bottom: 100px;
    width: 400px;
    display: flex;
    justify-content: space-between;

  }
  .playerPanel img {
      height: 50px;
      width: 50px;
  }
  .player-class {
      font-size: 22px;
      width: 150px;
    color: rgb(0, 165, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .player-inactive {
      color: rgb(199, 6, 6);
      opacity: 0.5;
  }
  .line {
      position: absolute;
      height: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      width: 285px;
  }
  .make-vertikal {
      transform: rotate(90deg);
      top: 491px;
  }
